{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="{% static '../static/css/stylemenu.css' %}">
    <title>adminalumno</title>
    <link rel="icon" type="image/x-icon" href="{% static '../static/img/favicon.ico' %}">


</head>
<body>
<header>
    <div class="head">
        <div class="logo">
            <img id="img" src="{% static '../static/img/logo.png' %}">
        </div>
        <nav class="navbar">
            <a href="{% url 'login' %}">login</a>
            <a href="{% url 'adminalumno' %}">Agregar Alumno</a>
            <a href="{% url 'menu' %}">Volver</a>
        </nav>
    </div>
</header>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section>
    <div class="menualumno">
        <div class="row">
            <form action="" method="POST" id="formulario" enctype= "multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{form.as_p}}
                </div>
                <br>
                <br>
                <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                <div class="alert alert-succes" role="alert">
                    {{mensaje}}
                </div>
            </form>
             </div>
    </div>    
</section>
<br>
<br>
<br>
<br>
<br>
<br>

    <footer >
        <div class="footer-container">
            <div class="footer-content-container">
                <img src="{% static '../static/img/logo.png' %}" >
                <span class="footer-info">322960714-322960715</span>
                <span class="footer-info">lindustrial@educmvm.cl</span>
            </div>
            <div class="footer-menus">
                <div class="footer-content-container">
                    <span class="menu-title">Horario de Atención</span>
                    <a href="" class="menu-item-footer">Lunes a Viernes</a>
                </div>
                <div class="footer-content-container">
                    <span class="menu-title">legal</span>
                    <a href="" class="menu-item-footer">Política de privacidad</a>
                    <a href="" class="menu-item-footer">Cookies</a>
                </div>
                <div class="footer-content-container">
                    <span class="menu-title">Direcion</span>
                    <a href="" class="menu-item-footer">Avenida Frei 4137 - Miraflores</a>
                </div>
                <div class="footer-content-container">
                    <span class="menu-title">Donaciones</span>
                    <a href="{% url 'donacion' %}" class="menu-item-footer">PAYPAL</a>
                </div>
            </div>

            <div class="footer-content-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3345.2530159595476!2d-71.507889!3d-33.023464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de9935aaad0d%3A0x81e9a95f381b3c7f!2sLiceo%20Industrial%20Miraflores!5e0!3m2!1ses-419!2sus!4v1683690807170!5m2!1ses-419!2sus" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="copyright-container">
            <span class="copyright">Formando los tecnicos que chile necesita</span>
        </div>
    </footer>
</body>
</html>