{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/paypal.css' %}">
    <title>Donacion</title>
    <link rel="icon" type="image/x-icon" href="{% static '../static/img/favicon.ico' %}">
    
<body class="bodypaypal">
    <section>

        <div class="head">

            <div class="logo">
                <img id="img" src="{% static '../static/img/logo.png' %}">
            </div>

            <nav class="navbar">
                <a href="{% url 'menu' %}">Inicio</a>
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>
            </nav>

        </div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h2>Realizar Donacion</h2>
                <br>
                <br>
                <br>
                <br>

            </div>
            <div class="col p-1">
                <div class="container p-4">
                    <div id="paypal-button-container"></div>
                    <script
                        src="https://www.paypal.com/sdk/js?client-id=AdFjGOwJCh4h90IyhB_vGCkDbSfakAD6IitR2qFxPOgTtY4Yrd9z_-ycN6ITScW8rqkiDh7EDtOZ8eFs"></script>
                    <script>
                        paypal.Buttons({
                            // Sets up the transaction when a payment button is clicked
                            createOrder: (data, actions) => {
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: '77.44' // Can also reference a variable or function
                                        }
                                    }]
                                });
                            },
                            // Finalize the transaction after payer approval
                            onApprove: (data, actions) => {
                                return actions.order.capture().then(function (orderData) {
                                    // Successful capture! For dev/demo purposes:
                                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                    const transaction = orderData.purchase_units[0].payments.captures[0];
                                    alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                                    // When ready to go live, remove the alert and show a success message within this page. For example:
                                    // const element = document.getElementById('paypal-button-container');
                                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                    // Or go to another URL:  actions.redirect('thank_you.html');
                                });
                            }
                        }).render('#paypal-button-container');
                    </script>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer >
        <div class="footer-container">
            <div class="footer-content-container">
                <img src="{% static '../static/img/logo.png' %}" >
                <span class="footer-info">322960714-322960715</span>
                <span class="footer-info">lindustrial@educmvm.cl</span>
            </div>
            <div class="footer-menus">
                <div class="footer-content-container">
                    <span class="menu-title">Horario de Atención</span>
                    <a href="" class="menu-item-footer">Lunes a Viernes</a>
                </div>
                <div class="footer-content-container">
                    <span class="menu-title">legal</span>
                    <a href="" class="menu-item-footer">Política de privacidad</a>
                    <a href="" class="menu-item-footer">Cookies</a>
                </div>
                <div class="footer-content-container">
                    <span class="menu-title">Direcion</span>
                    <a href="" class="menu-item-footer">Avenida Frei 4137 - Miraflores</a>
                </div>
                <div class="footer-content-container">
                    <span class="menu-title">Donaciones</span>
                    <a href="{% url 'donacion' %}" class="menu-item-footer">PAYPAL</a>
                </div>
            </div>

            <div class="footer-content-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3345.2530159595476!2d-71.507889!3d-33.023464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de9935aaad0d%3A0x81e9a95f381b3c7f!2sLiceo%20Industrial%20Miraflores!5e0!3m2!1ses-419!2sus!4v1683690807170!5m2!1ses-419!2sus" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="copyright-container">
            <span class="copyright">Formando los tecnicos que chile necesita</span>
        </div>
    </footer>
</body>

</html>